@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

$primary-color: #ea9b1e;
$primary-color-light: #faf0e3;
$gray-100: #3c3d43;
$gray-200: #62656b;
$gray-300: #d9d9d9;
$gray-400: #f5f5f5;
$gray-500: #ffffff;
$background-color: #fefdfc;
$hr: #e5d3c6;

$gray-700: powderblue;

$desktop-width: 1200px;
$tablet-width: 800px;

body {
    background-color: $background-color;
    font-size: 16px;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard Variable", Pretendard, -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
        "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 500;
    color: $gray-100;
    letter-spacing: -2%;
    user-select: none;
}

// typography
@mixin headline1 {
    font-size: 7.5rem;
    font-weight: 800;
    line-height: 120px;
}

@mixin headline2 {
    font-size: 3.375rem;
    font-weight: 700;
    line-height: 54px;
}

@mixin title-semibold {
    font-size: 2rem;
    font-weight: 600;
    line-height: 38px;
}

@mixin title-medium {
    font-size: 2rem;
    font-weight: 500;
    line-height: 38px;
}

@mixin title-regular {
    font-size: 2rem;
    font-weight: 400;
    line-height: 38px;
}

@mixin object {
    font-size: 1.625rem;
    font-weight: 300;
    line-height: 30px;
}

@mixin caption1-bold {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 36px;
}

@mixin caption1-medium {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 36px;
}

@mixin caption1-regular {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 36px;
}

@mixin caption2-bold {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 24px;
}

@mixin caption2-medium {
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 24px;
}

@mixin caption3-bold {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
}

@mixin caption3-regular {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
}

@mixin caption4-bold {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 22px;
}

@mixin caption4-medium {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 22px;
}

@mixin caption4-regular {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 22px;
}

@mixin body-bold {
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px;
}

@mixin body-medium {
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
}

@mixin body-regular {
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}

@mixin mobile-headline1 {
    font-size: 5.5rem;
    font-weight: 800;
    line-height: 100px;
}

@mixin mobile-title-bold {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 28px;
}

@mixin mobile-title-regular {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 28px;
}

@mixin mobile-caption3 {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 20px;
}
