@import "../../styles/global.scss";

header {
    position: fixed;
    width: 100%;
    background-color: $background-color;
    z-index: 999;

    .header-wrap {
        width: $desktop-width;
        margin: 0 auto;
        height: 80px;
        display: flex;
        align-items: center;
    }

    img {
        cursor: pointer;
    }

    .hamburger {
        display: none;
    }
}

nav {
    display: flex;
    width: 100%;
    position: relative;
    ul {
        @include body-medium;
        position: absolute;
        top: 50%;
        left: 44%;
        transform: translate(-50%, -44%);
        display: flex;
        li {
            padding: 8px;
            margin: 0 8px;
            list-style: none;
            cursor: pointer;
        }
    }
    .nav-right {
        @include body-medium;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        display: flex;
        align-items: center;

        img {
            margin-top: -1px;
            margin-right: 4px;
        }
    }
}

@media only screen and (max-width: 1230px) {
    header {
        .header-wrap {
            width: $tablet-width;
            justify-content: space-between;

            nav {
                display: none;
            }

            .hamburger {
                cursor: pointer;
                display: block;
            }
        }
    }
}
