@import "../../styles/global.scss";

footer {
    width: 100%;
    background-color: $primary-color-light;
    padding: 80px 0;

    .footer-wrap {
        width: $desktop-width;
        margin: 0 auto;

        .contact {
            margin-bottom: 80px;
            div {
                @include caption3-bold;
                display: flex;
                align-items: center;
                img {
                    margin-right: 8px;
                }
            }
        }

        .company-info {
            @include caption4-regular;
            line-height: 26px;
            margin-bottom: 24px;
        }

        .copyright {
            @include caption4-regular;
            color: $gray-200;
            line-height: 26px;
            span {
                @include caption4-bold;
                color: $gray-200;
            }
        }
    }
}

@media only screen and (max-width: 1230px) {
    footer {
        .footer-wrap {
            width: $tablet-width;
            .contact {
                margin-bottom: 40px;
                div {
                    @include body-bold;
                }
            }

            .company-info {
                @include body-regular;
                margin-bottom: 16px;
            }

            .copyright {
                @include body-regular;
                span {
                    @include body-bold;
                }
            }
        }
    }
}

@media only screen and (max-width: 820px) {
    footer {
        .footer-wrap {
            width: $mobile-width;
            word-break: keep-all;
            .contact {
                margin-bottom: 32px;
            }
        }
    }
}
